text,
div,
button {
  font-family: Arial;
}
.container {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 900px;
  max-width: 412px;
  border: solid black;
  margin: auto;
  border-radius: 10px;
  padding: 0;
  border: 0;
  box-shadow: 0px 0px 15px rgba(175, 175, 175, 0.692);
}
.input {
  padding-top: 40%;
  padding-bottom: 20%;
  border: 0;
  width: 99%;
  border: 1;
  text-align: right;
  font-size: 50px;
}
.section_2 {
  display: grid;
  position: absolute;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 60%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px;
  padding: 2%;
  font-family: Arial;
  gap: 3%;
  padding-top: 15px;
}
.section_2 button {
  background-color: rgb(233, 233, 233);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.692);
  border: 0;
  border-radius: 9999px;
  color: black;
  text-align: center;
  font-size: 30px;
  font-family: Arial;
  padding: 0px;
  transition: opacity 0.2s background-color 0.2s;
}
.section_2 button:hover {
  opacity: 70%;
}
.section_2 button:active {
  background-color: rgba(141, 141, 141, 0.637);
}
.credits {
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-size: 22px;
  opacity: 50%;
}
