* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 85px;
  background-color: rgb(18, 18, 82);
}
nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style: none;
  margin: 0 25px;
}
.left {
  font-size: 1.6rem;
}

